version: '3.9'

services:
  piapi:
    image: ghcr.io/prehisle/piapi:main
    pull_policy: always
    container_name: piapi-gateway
    ports:
      - "9200:9200"
    volumes:
      - ./config.yaml:/app/config.yaml:ro
    environment:
      - TZ=UTC
    restart: unless-stopped
